.book__content-background {
  position: relative;

  img {
    max-width: 100%;
  }

  h1 {
    color: #4B5959;
    font-size: 59px;
    font-weight: 900;
    line-height: 24px;
    text-align: right;
    position: absolute;
    text-transform: uppercase;
    right: 24px;
    bottom: 236px;
  }
}