@import "./book__content-background";
@import "./book__content-data";

.book__content {
  width: 691px;
  max-width: 50%;
  max-height: 100%;

  @media screen and (max-width: 1425px) {
    max-width: 100%;
    width: 691px;
  }
}