.book__content-data {
  padding: 64px 40px 64px 64px;
  background: #F3F3F3;
  height: 100%;
}

.content-header {
  display: flex;
  padding-bottom: 56px;
}

.content-header__img {
  width: 177px;
  min-width: 177px;
  height: 242px;
  margin-right: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    box-shadow: 0 14px 21px 0 rgba(0, 0, 0, 0.4);
    max-height: 100%;
    width: 100%;
  }
}

.content-header__head {
  h1 {
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 16px;
  }
}

.content-header__description {
  span {
    color: #7D8888;
  }
  p {
    line-height: 20px;
    padding-bottom: 4px;
  }
}

.content-header__rating {
  padding-top: 12px;
  padding-bottom: 29px;
  display: flex;
  align-items: center;

  .search__result-star {
    width: 24px;
    height: 24px;
  }
  .content-header__description {
    padding-left: 13px;
  }
}

.content-header__favorites {
  color: #C7CAD2;
  display: flex;
  p {
    padding-right: 27px;
  }
  a {
    &:hover {
      color: #417505;
      text-decoration: underline;
    }
  }
}

.content-header__favorites-like {
  background: url("../img/like.svg") no-repeat left center / contain;
  padding-left: 30px;
}

.content-header__favorites-share {
  background: url("../img/share.svg") no-repeat left center / contain;
  padding-left: 30px;
}

.content-text__head {
  h2 {
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 16px;
  }
}

.content-text__prev {
  p {
    line-height: 24px;
    padding-bottom: 40px;
  }
}