.book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.book__container {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  height: 900px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);

  @media screen and(max-width:1425px) {
    display: block;
    height: auto;
  }
}