* {
  box-sizing: border-box;
}
body,html {
  margin: 0;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  height: 100%;
  background: #eff2f7;
  color: #000000;
}
a {
  color:inherit;
  text-decoration: none;
  outline: none;
}
input:active,
input:focus,
input:hover,
a:active,
a:focus,
a:hover {
  outline: none!important;
  outline-offset: 0!important;
}
p,h1,h2,h3,li {
  margin: 0;
  line-height: 100%;
}
img,a {
  border:none;
}
ul ,ol {
  padding: 0;
  margin: 0;
}
h1,h2,h3 {
  font-weight: 500;
}