.search-result_no-img {
  background-image: url("../img/no-image.png");
}

.result-star_half {
  background-image: url("../img/half-star.svg");
}

.result-star_full {
  background-image: url("../img/full-star.svg");
}

.favorites-like_on {
  background: url("../img/like-on.svg") no-repeat left center / contain;
}

.color_green {
  color: #417505;
}