.search-result {
  padding-top: 30px;
  padding-right: 83px;
  padding-left: 64px;
}

.search-result__item-container {
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #979797;
  cursor: pointer;
}

.search-result__img {
  margin-right: 16px;
  width: 74px;
  min-width: 74px;
  height: 101px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.search__result-stars {
  display: flex;
  padding-bottom: 5px;
}

.search__result-star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url("../img/empty-star.svg") no-repeat center / contain;
}

.search__result-header {
  h3 {
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 8px;
  }
}

.search__result-text {
  p {
    font-size: 13px;
    line-height: 17px;
  }
}
.search-result-loading {
  text-align: center;
  padding-top: 80px;
}