<template>
    <div v-if="statusRequest==='success'" class="search-result">

        <div v-if="booksShow.length===0 && isFavorite" class="search-result__favorite-message">
            <p>Список избранного пуст.</p>
        </div>

        <div :key="book.idBook" v-for="book in booksShow.slice(0, 4)" class="search-result__item">
            <div @click="showBook(book.idBook)" class="search-result__item-container">
                <div
                    class="search-result__img"
                    :class="{'search-result_no-img':book.imageLink===0}"
                    :style="[book.imageLink!==0?{'background-image':'url('+book.imageLink+')'}:'']">
                </div>
                <div class="search-result__content">
                    <div class="search__result-stars">
                        <div
                                :class="{'result-star_full':book.rating>=1, 'result-star_half':book.rating===0.5}"
                                class="search__result-star">
                        </div>
                        <div
                                :class="{'result-star_full':book.rating>=2, 'result-star_half':book.rating===1.5}"
                                class="search__result-star">
                        </div>
                        <div
                                :class="{'result-star_full':book.rating>=3, 'result-star_half':book.rating===2.5}"
                                class="search__result-star">
                        </div>
                        <div
                                :class="{'result-star_full':book.rating>=5, 'result-star_half':book.rating===3.5}"
                                class="search__result-star">
                        </div>
                        <div
                                :class="{'result-star_full':book.rating===5, 'result-star_half':book.rating===4.5}"
                                class="search__result-star">
                        </div>
                    </div>
                    <div class="search__result-header">
                        <h3>{{book.title}}</h3>
                    </div>
                    <div class="search__result-text">
                        <p>{{book.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script src="./searchResult.js"></script>
