<template>
    <div class="book__content">
        <div v-if="contentBackground" class="book__content-background">
            <img src="../../assets/img/background.png" alt="">
            <h1>Библиотека</h1>
        </div>
        <div class="book__content-data" v-else>
            <div class="content-header">
                <div
                        class="content-header__img"
                >
                    <img v-if="bookData.imageLink!==0" :src="bookData.imageLink" alt="">
                    <img src="../../assets/img/no-image.png" alt="" v-else>
                </div>
                <div class="content-header__info">
                    <div class="content-header__head">
                        <h1>{{bookData.title}}</h1>
                    </div>
                    <div class="color_green content-header__description">
                        <p><span>Автор:</span> {{bookData.authors}}</p>
                    </div>
                    <div class="content-header__description">
                        <p><span>Год:</span> {{bookData.date}}</p>
                    </div>
                    <div class="content-header__rating">
                        <div class="search__result-stars">
                            <div
                                    :class="{'result-star_full':bookData.rating>=1, 'result-star_half':bookData.rating===0.5}"
                                    class="search__result-star">
                            </div>
                            <div
                                    :class="{'result-star_full':bookData.rating>=2, 'result-star_half':bookData.rating===1.5}"
                                    class="search__result-star">
                            </div>
                            <div
                                    :class="{'result-star_full':bookData.rating>=3, 'result-star_half':bookData.rating===2.5}"
                                    class="search__result-star">
                            </div>
                            <div
                                    :class="{'result-star_full':bookData.rating>=5, 'result-star_half':bookData.rating===3.5}"
                                    class="search__result-star">
                            </div>
                            <div
                                    :class="{'result-star_full':bookData.rating===5, 'result-star_half':bookData.rating===4.5}"
                                    class="search__result-star">
                            </div>
                        </div>
                        <div class="content-header__description">
                            <p><span>Рейтинг: </span> {{bookData.rating}}</p>
                        </div>
                    </div>
                    <div class="content-header__favorites">
                        <p v-if="
                            bookData.favoriteText==='В избранное' ||
                            bookData.favoriteText==='Ошибка добавления'||
                            bookData.favoriteText==='Добавляем...'">
                            <a
                                href="javascript:"
                                @click="addBookInFavorite(bookData.idBook)"
                                class="content-header__favorites-like"
                                title="Добавить в избранное">
                                {{bookData.favoriteText}}
                            </a>
                        </p>

                        <p v-else-if="bookData.favoriteText==='Перейти'||
                            bookData.favoriteText==='Удалить'||
                            bookData.favoriteText==='Ошибка удаления'||
                            bookData.favoriteText==='Удаляем...'">

                            <a
                                class="content-header__favorites-like favorites-like_on"
                                title="Удалить из избранного"
                                @click="removeBookInFavorite(bookData.idBook)"
                                href="javascript:">

                            </a>
                            <a v-if="!isFavorite"
                                class="color_green"
                                title="Перейти в избранное"
                                href="javascript:"
                                @click="changeIsFavorite(!isFavorite)">
                                {{bookData.favoriteText}}
                            </a>
                            <a
                                class="color_green"
                                title="Удалить из избранного"
                                href="javascript:"
                                @click="removeBookInFavorite(bookData.idBook)"
                                v-else>
                                {{bookData.favoriteText}}
                            </a>
                        </p>
                        <p>
                            <a href="javascript:"
                               title="Поделиться в социальных сетях"
                               class="content-header__favorites-share"
                            >Поделиться</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="content-text">
                <div class="content-text__head">
                    <h2>Описание книги</h2>
                </div>
                <div class="content-text__prev">
                    <p>{{bookData.descriptionFull}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./bookContent.js"></script>
