<template>
    <div class="book__search">

        <div v-if="!authorization" class="book__authorization-input">
            <input @click="oauth2SignIn()" title="Авторизоваться в Google books" value="Авторизоваться" type="button">
        </div>

        <div v-else-if="!isFavorite" class="book__search-input">

            <div class="book__search-input-container">
                <v-select maxlength="10"
                          title="Поиск книги по названию"
                          placeholder="Поиск"
                          v-model="searchRequest"
                          :options="autoComplete"
                          @search="searchResponse"
                >
                    <template slot="no-options">
                        <p v-if="searchRequest===''">Введите название книги.</p>
                        <p v-else-if="statusRequest==='limit'">Превышен лимит запросов.</p>
                        <p v-else-if="statusRequest==='loading'">Загрузка...</p>
                        <p v-else-if="statusRequest==='token-invalid'">
                            Время вашей сессии истекло. Пожалуйста, перезагрузите страницу.</p>
                        <p v-else>По вашему запросу ничего не найдено.</p>
                    </template>
                </v-select>

                <img v-if="searchRequest===''" src="../../assets/img/search.svg" alt="">
                <img @click="reset()" class="book__search-input-reset" src="../../assets/img/reset.svg" alt="" v-else>
            </div>
        </div>

        <div class="book__favorite-input" v-else>
            <input
                    @click="changeIsFavorite(!isFavorite)"
                    title="К результатам поиска"
                    type="button">
            <h3>Избранное</h3>
        </div>

        <searchResult
                v-if="!isFavorite"
                :booksShow="searchBooks"
                :statusRequest="statusRequest"
                :favoritesBooks="favoritesBooks"
        ></searchResult>

        <searchResult
                v-else
                :booksShow="favoritesBooks"
                :statusRequest="'success'"
                :favoritesBooks="favoritesBooks"
                :isFavorite="isFavorite"
        ></searchResult>

        <div v-if="statusRequest==='loading'" class="search-result-loading">
            <img src="../../assets/img/loading.gif" alt="">
        </div>
    </div>

</template>
<script src="./bookSearch.js"></script>
