@import "./book__search-input";
@import "./book__authorization-input";
@import "./book__favorite-input";

.book__search {
  width: 691px;
  max-width: 50%;

  @media screen and (max-width: 1425px) {
    max-width: 691px;
    width: 100%;
    padding-bottom: 26px;
    min-height: 100%;
  }
}