.book__favorite-input {
  input {
    height: 68px;
    opacity: 0.60400390625;
    background:  url("../img/arrow-back.svg") no-repeat 16px center #000000 ;
    border: none;
    width: 100%;
    cursor: pointer;
  }

  h3 {
    font-size: 21px;
    line-height: 27px;
    padding-top: 32px;
    padding-left: 64px;
  }
}