.book__search-input {
  width: 100%;
  padding: 64px 83px 19px 61px;

  img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.book__search-input-container {
  position: relative;
}

.book__search-input-reset {
  cursor: pointer;
}