.book__authorization-input {
  width: 100%;
  padding: 64px 83px 0 61px;

  input {
    background-color: #FFFFFF;
    border: 1px solid #7D8888;
    border-radius: 4px;
    box-shadow: 0 16px 17px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 44px;
    color: #4B5959;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 0;
  }
}