<style lang="scss" src="./assets/scss/style.scss"></style>

<template>
    <div id="app" class="book">
        <div class="book__container">
            <bookContent
                    :access_token="access_token"
                    :isFavorite="isFavorite"
            ></bookContent>
            <bookSearch
                    :isFavorite="isFavorite"
                    :access_token="access_token"
                    :favoritesBooks="favoritesBooks"
                    :authorization="authorization">
            </bookSearch>
        </div>
    </div>
</template>

<script src="./App.js"></script>
